<!-- Part 4 -->

{% extends('base.html') %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div>
  <h1 class="mb-4 text-xl font-bold text-rose-500">Form</h1>
  <form action="" method="POST" enctype="multipart/form-data" class="p-4 border rounded-md">
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" id="username">
    </div>
    <div class="my-2">
      <label for="password">Password</label>
      <input type="text" name="password">
    </div>
    <div>
      <button type="submit">register</button>
    </div>
  </form>
</div>
{% endblock %}