<!-- Part 6 -->
{% extends('base.html') %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div>
  {{ message_from_session }}
  <a href="{{ url_for('set_session') }}" class="block mb-2 text-blue-500 underline">set session</a>
  <a href="{{ url_for('get_session') }}" class="block mb-2 text-blue-500 underline">get session</a>
  <a href="{{ url_for('clear_session') }}" class="block mb-2 text-blue-500 underline">clear session</a>
  <a href="{{ url_for('set_cookies') }}" class="block mb-2 text-blue-500 underline">Set cookies</a>
  <a href="{{ url_for('get_cookies') }}" class="block mb-2 text-blue-500 underline">Get cookies</a>
</div>
{% endblock %}